In [9]:
import pandas as pd

In [10]:
from glob import glob

In [11]:
single_file_acc=pd.read_csv('../../data/raw/MetaMotion/A-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../../data/raw/MetaMotion/A-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv'

In [ ]:
# y

In [ ]:
files=glob('../../data/raw/MetaMotion/*.csv')

In [ ]:
len(files)

187

In [ ]:
type(files)

list

In [ ]:
bath_file='../../data/raw/MetaMotion\\'

In [ ]:
f=files[3]

In [ ]:
participant=f.replace(bath_file,"").split('-')[0] # A

In [ ]:
lable=f.split('-')[1] # banch

In [ ]:
catagory =f.split('-')[2].rstrip('123').replace('_MetaWear_2019','') # heavy

In [ ]:
df=pd.read_csv(f)

In [ ]:
df

,epoch (ms),time (01:00),elapsed (s),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s)
0,1547472420993,2019-01-14T14:27:00.993,0.00,2.317,-2.500,-9.695
1,1547472421033,2019-01-14T14:27:01.033,0.04,3.110,-0.793,-9.207
2,1547472421073,2019-01-14T14:27:01.073,0.08,3.232,2.134,-2.500
3,1547472421113,2019-01-14T14:27:01.113,0.12,2.988,2.195,-11.159
4,1547472421153,2019-01-14T14:27:01.153,0.16,18.354,-7.866,-14.451
...,...,...,...,...,...,...
315,1547472433593,2019-01-14T14:27:13.593,12.60,6.159,-0.244,1.463
316,1547472433633,2019-01-14T14:27:13.633,12.64,5.976,-1.768,0.549
317,1547472433673,2019-01-14T14:27:13.673,12.68,9.878,-2.317,1.037
318,1547472433713,2019-01-14T14:27:13.713,12.72,7.683,-1.951,-2.439
319,1547472433753,2019-01-14T14:27:13.753,12.76,9.939,-1.402,3.659

In [ ]:
df['participant']=participant

In [ ]:
df['category']=catagory

In [ ]:
df['category']=catagory

In [ ]:
df

,epoch (ms),time (01:00),elapsed (s),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s),participant,category
0,1547472420993,2019-01-14T14:27:00.993,0.00,2.317,-2.500,-9.695,A,heavy2
1,1547472421033,2019-01-14T14:27:01.033,0.04,3.110,-0.793,-9.207,A,heavy2
2,1547472421073,2019-01-14T14:27:01.073,0.08,3.232,2.134,-2.500,A,heavy2
3,1547472421113,2019-01-14T14:27:01.113,0.12,2.988,2.195,-11.159,A,heavy2
4,1547472421153,2019-01-14T14:27:01.153,0.16,18.354,-7.866,-14.451,A,heavy2
...,...,...,...,...,...,...,...,...
315,1547472433593,2019-01-14T14:27:13.593,12.60,6.159,-0.244,1.463,A,heavy2
316,1547472433633,2019-01-14T14:27:13.633,12.64,5.976,-1.768,0.549,A,heavy2
317,1547472433673,2019-01-14T14:27:13.673,12.68,9.878,-2.317,1.037,A,heavy2
318,1547472433713,2019-01-14T14:27:13.713,12.72,7.683,-1.951,-2.439,A,heavy2
319,1547472433753,2019-01-14T14:27:13.753,12.76,9.939,-1.402,3.659,A,heavy2

In [ ]:
acc_set=1

In [ ]:
gyr_set=1

In [ ]:
for f in files:
    participant=f.replace(bath_file,"").split('-')[0]# A
    lable=f.split('-')[1] # banch
    catagory =f.split('-')[2].rstrip('123').replace('_MetaWear_2019','') # heavy

    df=pd.read_csv(f)

    df['participant']=participant
    df['lable']=lable
    df['category']=catagory

    if 'Accelerometer' in f :
        df['set']=acc_set
        acc_set+=1
        acc_df=pd.concat([acc_df,df])


    if 'Gyroscope' in f :
        df['set']=gyr_set
        gyr_set+=1
        gyr_df=pd.concat([gyr_df,df])

In [ ]:
acc_df[acc_df['set']==2]

,epoch (ms),time (01:00),elapsed (s),x-axis (g),y-axis (g),z-axis (g),participant,lable,category,set
0,1547472421400,2019-01-14T14:27:01.400,0.00,-0.181,0.796,-0.383,A,bench,heavy2,2
1,1547472421480,2019-01-14T14:27:01.480,0.08,-0.192,0.823,-0.424,A,bench,heavy2,2
2,1547472421560,2019-01-14T14:27:01.560,0.16,-0.203,0.808,-0.421,A,bench,heavy2,2
3,1547472421640,2019-01-14T14:27:01.640,0.24,-0.217,0.833,-0.439,A,bench,heavy2,2
4,1547472421720,2019-01-14T14:27:01.720,0.32,-0.206,0.845,-0.446,A,bench,heavy2,2
...,...,...,...,...,...,...,...,...,...,...
151,1547472433480,2019-01-14T14:27:13.480,12.08,-0.094,0.924,-0.357,A,bench,heavy2,2
152,1547472433560,2019-01-14T14:27:13.560,12.16,-0.104,0.901,-0.369,A,bench,heavy2,2
153,1547472433640,2019-01-14T14:27:13.640,12.24,-0.087,0.881,-0.374,A,bench,heavy2,2
154,1547472433720,2019-01-14T14:27:13.720,12.32,-0.094,0.893,-0.373,A,bench,heavy2,2
155,1547472433800,2019-01-14T14:27:13.800,12.40,-0.100,0.907,-0.375,A,bench,heavy2,2

In [ ]:
df['epoch (ms)']

0      1547666043834
1      1547666043874
2      1547666043914
3      1547666043954
4      1547666043994
           ...
487    1547666063314
488    1547666063354
489    1547666063394
490    1547666063434
491    1547666063474
Name: epoch (ms), Length: 492, dtype: int64

In [ ]:
df['time (01:00)']

0      2019-01-16 20:14:03.834
1      2019-01-16 20:14:03.874
2      2019-01-16 20:14:03.914
3      2019-01-16 20:14:03.954
4      2019-01-16 20:14:03.994
                ...
487    2019-01-16 20:14:23.314
488    2019-01-16 20:14:23.354
489    2019-01-16 20:14:23.394
490    2019-01-16 20:14:23.434
491    2019-01-16 20:14:23.474
Name: time (01:00), Length: 492, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492 entries, 0 to 491
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   epoch (ms)      492 non-null    int64
 1   time (01:00)    492 non-null    object
 2   elapsed (s)     492 non-null    float64
 3   x-axis (deg/s)  492 non-null    float64
 4   y-axis (deg/s)  492 non-null    float64
 5   z-axis (deg/s)  492 non-null    float64
 6   participant     492 non-null    object
 7   lable           492 non-null    object
 8   category        492 non-null    object
 9   set             492 non-null    int64
dtypes: float64(4), int64(2), object(4)
memory usage: 38.6+ KB

In [ ]:
pd.to_datetime(df['epoch (ms)'],unit= "ms")

0     2019-01-16 19:14:03.834
1     2019-01-16 19:14:03.874
2     2019-01-16 19:14:03.914
3     2019-01-16 19:14:03.954
4     2019-01-16 19:14:03.994
                ...
487   2019-01-16 19:14:23.314
488   2019-01-16 19:14:23.354
489   2019-01-16 19:14:23.394
490   2019-01-16 19:14:23.434
491   2019-01-16 19:14:23.474
Name: epoch (ms), Length: 492, dtype: datetime64[ns]

In [ ]:
pd.to_datetime(df["time (01:00)"]).dt.month

0      1
1      1
2      1
3      1
4      1
      ..
487    1
488    1
489    1
490    1
491    1
Name: time (01:00), Length: 492, dtype: int32

In [ ]:
acc_df.index=pd.to_datetime(acc_df['epoch (ms)'],unit= "ms")

In [ ]:
gyr_df.index=pd.to_datetime(gyr_df['epoch (ms)'],unit= "ms")

In [ ]:
acc_df

,epoch (ms),time (01:00),elapsed (s),x-axis (g),y-axis (g),z-axis (g),participant,lable,category,set
epoch (ms),,,,,,,,,,
2019-01-11 15:10:08.431,1547219408431,2019-01-11T16:10:08.431,0.00,0.010,0.964,-0.087,A,bench,heavy,1
2019-01-11 15:10:08.511,1547219408511,2019-01-11T16:10:08.511,0.08,0.000,0.961,-0.069,A,bench,heavy,1
2019-01-11 15:10:08.591,1547219408591,2019-01-11T16:10:08.591,0.16,0.001,0.974,-0.087,A,bench,heavy,1
2019-01-11 15:10:08.671,1547219408671,2019-01-11T16:10:08.671,0.24,-0.012,0.971,-0.084,A,bench,heavy,1
2019-01-11 15:10:08.751,1547219408751,2019-01-11T16:10:08.751,0.32,-0.013,0.954,-0.094,A,bench,heavy,1
...,...,...,...,...,...,...,...,...,...,...
2019-01-16 19:14:23.089,1547666063089,2019-01-16 20:14:23.089,18.96,0.012,0.596,0.815,E,squat,heavy,94
2019-01-16 19:14:23.169,1547666063169,2019-01-16 20:14:23.169,19.04,0.009,0.528,0.821,E,squat,heavy,94
2019-01-16 19:14:23.249,1547666063249,2019-01-16 20:14:23.249,19.12,0.015,0.554,0.746,E,squat,heavy,94
2019-01-16 19:14:23.329,1547666063329,2019-01-16 20:14:23.329,19.20,0.006,0.574,0.824,E,squat,heavy,94
2019-01-16 19:14:23.409,1547666063409,2019-01-16 20:14:23.409,19.28,0.015,0.588,0.826,E,squat,heavy,94

In [ ]:
del acc_df['epoch (ms)']
del acc_df['time (01:00)']
del acc_df['elapsed (s)']

del gyr_df['epoch (ms)']
del gyr_df['time (01:00)']
del gyr_df['elapsed (s)']

In [ ]:
def read_data_from_files(files):

    acc_df=pd.DataFrame()
    gyr_df=pd.DataFrame()

    acc_set=1
    gyr_set=1


    for f in files:
        participant=f.replace(bath_file,"").split('-')[0]# A
        lable=f.split('-')[1] # banch
        catagory =f.split('-')[2].rstrip('123').replace('_MetaWear_2019','') # heavy

        df=pd.read_csv(f)

        df['participant']=participant
        df['lable']=lable
        df['category']=catagory

        if 'Accelerometer' in f :
            df['set']=acc_set
            acc_set+=1
            acc_df=pd.concat([acc_df,df])


        if 'Gyroscope' in f :
            df['set']=gyr_set
            gyr_set+=1
            gyr_df=pd.concat([gyr_df,df])

In [ ]:
acc_df,gyr_df=read_data_from_files(files)

TypeError: cannot unpack non-iterable NoneType object

In [ ]:
for f in files:

SyntaxError: incomplete input (<ipython-input-57-cb1f70c9acaf>, line 1)

In [ ]:
files

['../../data/raw/MetaMotion\\A-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-bench-heavy2_MetaWear_2019-01-14T14.27.00.784_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-bench-heavy2_MetaWear_2019-01-14T14.27.00.784_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-bench-heavy3-rpe8_MetaWear_2019-01-11T16.14.45.178_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-bench-heavy3-rpe8_MetaWear_2019-01-11T16.14.45.178_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-bench-heavy_MetaWear_2019-01-14T14.22.49.165_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-bench-heavy_MetaWear_2019-01-14T14.22.49.165_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-dead-heavy_MetaWear_2019-01-15T20.35.27.174_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-dead-heavy_MetaWear_2019-01-15T20.35.27.174_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-dead-medium1-rpe6_MetaWear_2019-01-11T17.24.24.832_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-dead-medium1-rpe6_MetaWear_2019-01-11T17.24.24.832_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-dead-medium_MetaWear_2019-01-15T20.26.26.347_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-dead-medium_MetaWear_2019-01-15T20.26.26.347_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-dead-medium_MetaWear_2019-01-15T20.30.34.601_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-dead-medium_MetaWear_2019-01-15T20.30.34.601_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-heavy1-rpe8_MetaWear_2019-01-11T16.38.54.580_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-heavy1-rpe8_MetaWear_2019-01-11T16.38.54.580_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-heavy2-rpe7_MetaWear_2019-01-11T16.41.24.439_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-heavy2-rpe7_MetaWear_2019-01-11T16.41.24.439_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-heavy3-rpe7_MetaWear_2019-01-11T16.44.00.801_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-heavy3-rpe7_MetaWear_2019-01-11T16.44.00.801_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-heavy_MetaWear_2019-01-14T14.49.46.484_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-heavy_MetaWear_2019-01-14T14.49.46.484_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-heavy_MetaWear_2019-01-14T14.53.06.282_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-heavy_MetaWear_2019-01-14T14.53.06.282_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-heavy_MetaWear_2019-01-14T14.55.42.246_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-heavy_MetaWear_2019-01-14T14.55.42.246_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-medium1-rpe7_MetaWear_2019-01-11T16.53.53.376_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-medium1-rpe7_MetaWear_2019-01-11T16.53.53.376_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-medium2-rpe7_MetaWear_2019-01-11T16.57.30.113_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-medium2-rpe7_MetaWear_2019-01-11T16.57.30.113_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-medium3-rpe7_MetaWear_2019-01-11T17.00.49.801_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-ohp-medium3-rpe7_MetaWear_2019-01-11T17.00.49.801_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-rest-sitting_MetaWear_2019-01-18T18.22.25.565_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-rest-sitting_MetaWear_2019-01-18T18.22.25.565_C42732BE255C_Accelerometer_12.500Hz_1.4.41.csv',
 '../../data/raw/MetaMotion\\A-rest-sitting_MetaWear_2019-01-18T18.22.25.565_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-rest-sitting_MetaWear_2019-01-18T18.22.25.565_C42732BE255C_Gyroscope_25.000Hz_1.4.41.csv',
 '../../data/raw/MetaMotion\\A-rest-standing_MetaWear_2019-01-18T18.25.39.382_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-rest-standing_MetaWear_2019-01-18T18.25.39.382_C42732BE255C_Accelerometer_12.500Hz_1.4.41.csv',
 '../../data/raw/MetaMotion\\A-rest-standing_MetaWear_2019-01-18T18.25.39.382_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-rest-standing_MetaWear_2019-01-18T18.25.39.382_C42732BE255C_Gyroscope_25.000Hz_1.4.41.csv',
 '../../data/raw/MetaMotion\\A-row-heavy_MetaWear_2019-01-14T15.04.06.123_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-row-heavy_MetaWear_2019-01-14T15.04.06.123_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-row-heavy_MetaWear_2019-01-14T15.06.50.281_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-row-heavy_MetaWear_2019-01-14T15.06.50.281_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-squat-heavy_MetaWear_2019-01-15T20.04.08.637_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-squat-heavy_MetaWear_2019-01-15T20.04.08.637_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-squat-heavy_MetaWear_2019-01-15T20.09.06.903_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-squat-heavy_MetaWear_2019-01-15T20.09.06.903_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-squat-heavy_MetaWear_2019-01-15T20.14.03.633_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-squat-heavy_MetaWear_2019-01-15T20.14.03.633_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-squat-medium1-rpe7_MetaWear_2019-01-11T17.05.44.498_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-squat-medium1-rpe7_MetaWear_2019-01-11T17.05.44.498_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-squat-medium2-rpe8_MetaWear_2019-01-11T17.17.15.443_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-squat-medium2-rpe8_MetaWear_2019-01-11T17.17.15.443_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-squat-medium3-rpe7_MetaWear_2019-01-11T17.19.34.896_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-squat-medium3-rpe7_MetaWear_2019-01-11T17.19.34.896_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-bench-heavy1-rpe8_MetaWear_2019-01-11T16.08.04.758_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-bench-heavy1-rpe8_MetaWear_2019-01-11T16.08.04.758_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-bench-heavy2-rpe8_MetaWear_2019-01-11T16.12.04.794_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-bench-heavy2-rpe8_MetaWear_2019-01-11T16.12.04.794_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-ohp-heavy1-rpe8_MetaWear_2019-01-11T16.40.07.902_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-ohp-heavy1-rpe8_MetaWear_2019-01-11T16.40.07.902_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-ohp-heavy2-rpe7_MetaWear_2019-01-11T16.42.43.398_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-ohp-heavy2-rpe7_MetaWear_2019-01-11T16.42.43.398_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-ohp-heavy3-rpe8_MetaWear_2019-01-11T16.45.55.708_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-ohp-heavy3-rpe8_MetaWear_2019-01-11T16.45.55.708_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-ohp-medium1-rpe8_MetaWear_2019-01-11T16.48.54.290_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-ohp-medium1-rpe8_MetaWear_2019-01-11T16.48.54.290_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-ohp-medium2-rpe8_MetaWear_2019-01-11T16.55.53.154_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-ohp-medium2-rpe8_MetaWear_2019-01-11T16.55.53.154_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-ohp-medium3-rpe9_MetaWear_2019-01-11T16.59.28.181_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-ohp-medium3-rpe9_MetaWear_2019-01-11T16.59.28.181_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-squat-medium1-rpe9_MetaWear_2019-01-11T17.09.32.694_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\B-squat-medium1-rpe9_MetaWear_2019-01-11T17.09.32.694_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-bench-heavy1_MetaWear_2019-01-14T14.29.37.418_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-bench-heavy1_MetaWear_2019-01-14T14.29.37.418_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-bench-heavy2_MetaWear_2019-01-14T14.32.11.392_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-bench-heavy2_MetaWear_2019-01-14T14.32.11.392_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-bench-heavy_MetaWear_2019-01-14T14.51.27.130_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-bench-heavy_MetaWear_2019-01-14T14.51.27.130_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-dead-medium_MetaWear_2019-01-15T20.28.15.269_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-dead-medium_MetaWear_2019-01-15T20.28.15.269_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-dead-medium_MetaWear_2019-01-15T20.32.32.136_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-dead-medium_MetaWear_2019-01-15T20.32.32.136_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-dead-medium_MetaWear_2019-01-15T20.37.17.794_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-dead-medium_MetaWear_2019-01-15T20.37.17.794_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-ohp-heavy_MetaWear_2019-01-14T14.54.34.321_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-ohp-heavy_MetaWear_2019-01-14T14.54.34.321_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-ohp-heavy_MetaWear_2019-01-14T14.57.26.702_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-ohp-heavy_MetaWear_2019-01-14T14.57.26.702_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-row-heavy_MetaWear_2019-01-14T15.05.36.986_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-row-heavy_MetaWear_2019-01-14T15.05.36.986_C42732BE255C_Accelerometer_12.500Hz_1.4.41.csv',
 '../../data/raw/MetaMotion\\C-row-heavy_MetaWear_2019-01-14T15.05.36.986_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-row-heavy_MetaWear_2019-01-14T15.05.36.986_C42732BE255C_Gyroscope_25.000Hz_1.4.41.csv',
 '../../data/raw/MetaMotion\\C-row-heavy_MetaWear_2019-01-14T15.08.50.111_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-row-heavy_MetaWear_2019-01-14T15.08.50.111_C42732BE255C_Accelerometer_12.500Hz_1.4.41.csv',
 '../../data/raw/MetaMotion\\C-row-heavy_MetaWear_2019-01-14T15.08.50.111_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-row-heavy_MetaWear_2019-01-14T15.08.50.111_C42732BE255C_Gyroscope_25.000Hz_1.4.41.csv',
 '../../data/raw/MetaMotion\\C-row-medium_MetaWear_2019-01-14T15.01.39.689_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-row-medium_MetaWear_2019-01-14T15.01.39.689_C42732BE255C_Accelerometer_12.500Hz_1.4.41.csv',
 '../../data/raw/MetaMotion\\C-row-medium_MetaWear_2019-01-14T15.01.39.689_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-row-medium_MetaWear_2019-01-14T15.01.39.689_C42732BE255C_Gyroscope_25.000Hz_1.4.41.csv',
 '../../data/raw/MetaMotion\\C-squat-heavy_MetaWear_2019-01-15T20.06.31.280_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-squat-heavy_MetaWear_2019-01-15T20.06.31.280_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-squat-heavy_MetaWear_2019-01-15T20.11.55.634_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-squat-heavy_MetaWear_2019-01-15T20.11.55.634_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-squat-heavy_MetaWear_2019-01-15T20.17.27.856_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\C-squat-heavy_MetaWear_2019-01-15T20.17.27.856_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-bench-medium_MetaWear_2019-01-18T18.12.13.952_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-bench-medium_MetaWear_2019-01-18T18.12.13.952_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-bench-medium_MetaWear_2019-01-18T18.21.29.033_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-bench-medium_MetaWear_2019-01-18T18.21.29.033_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-bench-medium_MetaWear_2019-01-18T18.24.19.109_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-bench-medium_MetaWear_2019-01-18T18.24.19.109_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-row-medium_MetaWear_2019-01-18T18.30.48.777_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-row-medium_MetaWear_2019-01-18T18.30.48.777_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-row-medium_MetaWear_2019-01-18T18.33.07.895_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-row-medium_MetaWear_2019-01-18T18.33.07.895_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-row-medium_MetaWear_2019-01-18T18.34.52.516_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-row-medium_MetaWear_2019-01-18T18.34.52.516_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-squat-heavy_MetaWear_2019-01-18T18.03.51.096_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-squat-heavy_MetaWear_2019-01-18T18.03.51.096_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-squat-medium_MetaWear_2019-01-18T17.45.47.575_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-squat-medium_MetaWear_2019-01-18T17.45.47.575_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-squat-medium_MetaWear_2019-01-18T17.51.40.910_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\D-squat-medium_MetaWear_2019-01-18T17.51.40.910_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-heavy2_MetaWear_2019-01-14T14.27.00.784_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-heavy2_MetaWear_2019-01-14T14.27.00.784_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-heavy3-rpe8_MetaWear_2019-01-11T16.14.45.178_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-heavy3-rpe8_MetaWear_2019-01-11T16.14.45.178_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-heavy_MetaWear_2019-01-14T14.22.49.165_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-heavy_MetaWear_2019-01-14T14.22.49.165_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-medium_MetaWear_2019-01-18T18.12.13.952_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-medium_MetaWear_2019-01-18T18.12.13.952_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-medium_MetaWear_2019-01-18T18.21.29.033_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-medium_MetaWear_2019-01-18T18.21.29.033_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-medium_MetaWear_2019-01-18T18.24.19.109_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-bench-medium_MetaWear_2019-01-18T18.24.19.109_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-dead-heavy_MetaWear_2019-01-15T20.35.27.174_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-dead-heavy_MetaWear_2019-01-15T20.35.27.174_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-dead-medium1-rpe6_MetaWear_2019-01-11T17.24.24.832_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-dead-medium1-rpe6_MetaWear_2019-01-11T17.24.24.832_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-dead-medium_MetaWear_2019-01-15T20.26.26.347_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-dead-medium_MetaWear_2019-01-15T20.26.26.347_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-dead-medium_MetaWear_2019-01-15T20.30.34.601_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-dead-medium_MetaWear_2019-01-15T20.30.34.601_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-ohp-heavy_MetaWear_2019-01-14T14.49.46.484_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-ohp-heavy_MetaWear_2019-01-14T14.49.46.484_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-ohp-heavy_MetaWear_2019-01-14T14.53.06.282_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-ohp-heavy_MetaWear_2019-01-14T14.53.06.282_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-ohp-heavy_MetaWear_2019-01-14T14.55.42.246_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-ohp-heavy_MetaWear_2019-01-14T14.55.42.246_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-rest-sitting_MetaWear_2019-01-18T18.22.25.565_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-rest-sitting_MetaWear_2019-01-18T18.22.25.565_C42732BE255C_Accelerometer_12.500Hz_1.4.41.csv',
 '../../data/raw/MetaMotion\\E-rest-sitting_MetaWear_2019-01-18T18.22.25.565_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\E-rest-sitting_MetaWear_2019-01-18T18.22.25.565_C42732BE255C_Gyroscope_25.000Hz_1.4.41.csv',
 '../../data/raw/MetaMotion\\E-rest-standing_MetaWear_2019-01-18T18.25.39.382_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',

In [ ]:
acc_df,gyr_df=read_data_from_files(files)

TypeError: cannot unpack non-iterable NoneType object

In [ ]:
acc_df

,x-axis (g),y-axis (g),z-axis (g),participant,lable,category,set
epoch (ms),,,,,,,
2019-01-11 15:10:08.431,0.010,0.964,-0.087,A,bench,heavy,1
2019-01-11 15:10:08.511,0.000,0.961,-0.069,A,bench,heavy,1
2019-01-11 15:10:08.591,0.001,0.974,-0.087,A,bench,heavy,1
2019-01-11 15:10:08.671,-0.012,0.971,-0.084,A,bench,heavy,1
2019-01-11 15:10:08.751,-0.013,0.954,-0.094,A,bench,heavy,1
...,...,...,...,...,...,...,...
2019-01-16 19:14:23.089,0.012,0.596,0.815,E,squat,heavy,94
2019-01-16 19:14:23.169,0.009,0.528,0.821,E,squat,heavy,94
2019-01-16 19:14:23.249,0.015,0.554,0.746,E,squat,heavy,94
2019-01-16 19:14:23.329,0.006,0.574,0.824,E,squat,heavy,94
2019-01-16 19:14:23.409,0.015,0.588,0.826,E,squat,heavy,94

In [ ]:
def read_data_from_files(files):

    acc_df=pd.DataFrame()
    gyr_df=pd.DataFrame()

    acc_set=1
    gyr_set=1


    for f in files:
        participant=f.replace(bath_file,"").split('-')[0]# A
        lable=f.split('-')[1] # banch
        catagory =f.split('-')[2].rstrip('123').replace('_MetaWear_2019','') # heavy

        df=pd.read_csv(f)

        df['participant']=participant
        df['lable']=lable
        df['category']=catagory

        if 'Accelerometer' in f :
            df['set']=acc_set
            acc_set+=1
            acc_df=pd.concat([acc_df,df])


        if 'Gyroscope' in f :
            df['set']=gyr_set
            gyr_set+=1
            gyr_df=pd.concat([gyr_df,df])

In [ ]:
acc_df.index=pd.to_datetime(acc_df['epoch (ms)'],unit= "ms")

KeyError: 'epoch (ms)'

In [ ]:
def read_data_from_files(files):

    acc_df=pd.DataFrame()
    gyr_df=pd.DataFrame()

    acc_set=1
    gyr_set=1


    for f in files:
        participant=f.replace(bath_file,"").split('-')[0]# A
        lable=f.split('-')[1] # banch
        catagory =f.split('-')[2].rstrip('123').replace('_MetaWear_2019','') # heavy

        df=pd.read_csv(f)

        df['participant']=participant
        df['lable']=lable
        df['category']=catagory

        if 'Accelerometer' in f :
            df['set']=acc_set
            acc_set+=1
            acc_df=pd.concat([acc_df,df])


        if 'Gyroscope' in f :
            df['set']=gyr_set
            gyr_set+=1
            gyr_df=pd.concat([gyr_df,df])

        # set the time as index 
    acc_df.index=pd.to_datetime(acc_df['epoch (ms)'],unit= "ms") 
    gyr_df.index=pd.to_datetime(gyr_df['epoch (ms)'],unit= "ms") 


    del acc_df['epoch (ms)']
    del acc_df['time (01:00)']
    del acc_df['elapsed (s)']

    del gyr_df['epoch (ms)']
    del gyr_df['time (01:00)']
    del gyr_df['elapsed (s)']

    return acc_df,gyr_df

In [ ]:
acc_df,gyr_df=read_data_from_files(files)

In [ ]:
data_merged=pd.concat([acc_df.iloc[:,:3],gyr_df],axis=1)

In [ ]:
acc_df

,x-axis (g),y-axis (g),z-axis (g),participant,lable,category,set
epoch (ms),,,,,,,
2019-01-11 15:10:08.431,0.010,0.964,-0.087,A,bench,heavy,1
2019-01-11 15:10:08.511,0.000,0.961,-0.069,A,bench,heavy,1
2019-01-11 15:10:08.591,0.001,0.974,-0.087,A,bench,heavy,1
2019-01-11 15:10:08.671,-0.012,0.971,-0.084,A,bench,heavy,1
2019-01-11 15:10:08.751,-0.013,0.954,-0.094,A,bench,heavy,1
...,...,...,...,...,...,...,...
2019-01-16 19:14:23.089,0.012,0.596,0.815,E,squat,heavy,94
2019-01-16 19:14:23.169,0.009,0.528,0.821,E,squat,heavy,94
2019-01-16 19:14:23.249,0.015,0.554,0.746,E,squat,heavy,94
2019-01-16 19:14:23.329,0.006,0.574,0.824,E,squat,heavy,94
2019-01-16 19:14:23.409,0.015,0.588,0.826,E,squat,heavy,94

In [ ]:
dates_lst_1 = pd.date_range("2020-01-06", "2020-04-03", freq="MS")

In [ ]:
data_merged

,x-axis (g),y-axis (g),z-axis (g),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s),participant,lable,category,set
epoch (ms),,,,,,,,,,
2019-01-11 15:08:04.950,NaN,NaN,NaN,-10.671,-1.524,5.976,B,bench,heavy,30.0
2019-01-11 15:08:04.990,NaN,NaN,NaN,-8.720,-2.073,3.171,B,bench,heavy,30.0
2019-01-11 15:08:05.030,NaN,NaN,NaN,0.488,-3.537,-4.146,B,bench,heavy,30.0
2019-01-11 15:08:05.070,NaN,NaN,NaN,0.244,-5.854,3.537,B,bench,heavy,30.0
2019-01-11 15:08:05.110,NaN,NaN,NaN,-0.915,0.061,-2.805,B,bench,heavy,30.0
...,...,...,...,...,...,...,...,...,...,...
2019-01-20 17:35:13.382,-0.060,-1.021,-0.058,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-20 17:35:13.462,-0.035,-1.037,-0.026,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-20 17:35:13.542,-0.045,-1.029,-0.033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-20 17:35:13.622,-0.039,-1.027,-0.039,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-20 17:35:13.702,-0.049,-1.031,-0.049,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data_merged.dropna()

,x-axis (g),y-axis (g),z-axis (g),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s),participant,lable,category,set
epoch (ms),,,,,,,,,,
2019-01-11 15:10:08.431,0.010,0.964,-0.087,2.622,-8.110,-4.024,A,bench,heavy,1.0
2019-01-11 15:10:08.511,0.000,0.961,-0.069,1.524,-2.561,-2.500,A,bench,heavy,1.0
2019-01-11 15:10:08.591,0.001,0.974,-0.087,1.707,-5.366,0.915,A,bench,heavy,1.0
2019-01-11 15:10:08.671,-0.012,0.971,-0.084,2.683,-4.146,-1.220,A,bench,heavy,1.0
2019-01-11 15:10:08.751,-0.013,0.954,-0.094,1.524,0.610,-3.171,A,bench,heavy,1.0
...,...,...,...,...,...,...,...,...,...,...
2019-01-15 19:04:25.561,0.369,0.591,0.761,11.220,-5.061,-5.061,A,squat,heavy,24.0
2019-01-15 19:04:25.641,0.387,0.566,0.776,3.963,-2.988,-0.793,A,squat,heavy,24.0
2019-01-15 19:04:25.721,0.361,0.574,0.680,15.305,-3.293,-0.671,A,squat,heavy,24.0
2019-01-15 19:04:25.801,0.353,0.583,0.635,30.366,-0.122,-4.573,A,squat,heavy,24.0
2019-01-15 19:04:25.881,0.359,0.605,0.678,14.756,-6.585,-2.378,A,squat,heavy,24.0

In [ ]:
data_merged=pd.concat([acc_df.iloc[:,:3],gyr_df],axis=1)

In [ ]:
data_merged.head(100)

,x-axis (g),y-axis (g),z-axis (g),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s),participant,lable,category,set
epoch (ms),,,,,,,,,,
2019-01-11 15:08:04.950,NaN,NaN,NaN,-10.671,-1.524,5.976,B,bench,heavy,30.0
2019-01-11 15:08:04.990,NaN,NaN,NaN,-8.720,-2.073,3.171,B,bench,heavy,30.0
2019-01-11 15:08:05.030,NaN,NaN,NaN,0.488,-3.537,-4.146,B,bench,heavy,30.0
2019-01-11 15:08:05.070,NaN,NaN,NaN,0.244,-5.854,3.537,B,bench,heavy,30.0
2019-01-11 15:08:05.110,NaN,NaN,NaN,-0.915,0.061,-2.805,B,bench,heavy,30.0
...,...,...,...,...,...,...,...,...,...,...
2019-01-11 15:08:07.590,NaN,NaN,NaN,12.744,-9.512,-19.756,B,bench,heavy,30.0
2019-01-11 15:08:07.630,NaN,NaN,NaN,7.073,-1.220,-7.378,B,bench,heavy,30.0
2019-01-11 15:08:07.634,-0.232,0.9,-0.186,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-11 15:08:07.670,NaN,NaN,NaN,9.939,-6.402,12.256,B,bench,heavy,30.0
2019-01-11 15:08:07.710,NaN,NaN,NaN,-0.915,2.988,-2.134,B,bench,heavy,30.0

In [ ]:
1/25

0.04

In [ ]:
data_list1=pd.date_range(['2019-01-11 15:08:07.590','2019-01-11 15:08:07.710'],freq='ms')

ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified

In [ ]:
data_list1=pd.date_range(['2019-01-11 15:08:07.590','2019-01-11 15:08:07.710'],freq='ms')

ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified

In [ ]:
data_list1=pd.date_range(['2019-01-11 15:08:07.590','2019-01-11 15:08:07.710'],freq='ms')

ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified

In [ ]:
data_list1=pd.date_range('2019-01-11 15:08:07.590','2019-01-11 15:08:07.710',freq='ms')

In [ ]:
data_list1

DatetimeIndex(['2019-01-11 15:08:07.590000', '2019-01-11 15:08:07.591000',
               '2019-01-11 15:08:07.592000', '2019-01-11 15:08:07.593000',
               '2019-01-11 15:08:07.594000', '2019-01-11 15:08:07.595000',
               '2019-01-11 15:08:07.596000', '2019-01-11 15:08:07.597000',
               '2019-01-11 15:08:07.598000', '2019-01-11 15:08:07.599000',
               ...
               '2019-01-11 15:08:07.701000', '2019-01-11 15:08:07.702000',
               '2019-01-11 15:08:07.703000', '2019-01-11 15:08:07.704000',
               '2019-01-11 15:08:07.705000', '2019-01-11 15:08:07.706000',
               '2019-01-11 15:08:07.707000', '2019-01-11 15:08:07.708000',
               '2019-01-11 15:08:07.709000', '2019-01-11 15:08:07.710000'],
              dtype='datetime64[ns]', length=121, freq='L')

In [ ]:
data_list1=pd.date_range('2019-01-11 15:08:07.550','2019-01-11 15:08:07.700',freq='500ms')

In [ ]:
data_list1

DatetimeIndex(['2019-01-11 15:08:07.550000'], dtype='datetime64[ns]', freq='500L')

In [ ]:
data_list1=pd.date_range('2019-01-11 15:08:07.550','2019-01-11 15:08:07.700',freq='1000ms')

In [ ]:
data_list1

DatetimeIndex(['2019-01-11 15:08:07.550000'], dtype='datetime64[ns]', freq='1000L')

In [ ]:
data_list1=pd.date_range('2019-01-11 15:08:07.550','2019-01-11 15:08:07.700',freq='10ms')

In [ ]:
data_list1

DatetimeIndex(['2019-01-11 15:08:07.550000', '2019-01-11 15:08:07.560000',
               '2019-01-11 15:08:07.570000', '2019-01-11 15:08:07.580000',
               '2019-01-11 15:08:07.590000', '2019-01-11 15:08:07.600000',
               '2019-01-11 15:08:07.610000', '2019-01-11 15:08:07.620000',
               '2019-01-11 15:08:07.630000', '2019-01-11 15:08:07.640000',
               '2019-01-11 15:08:07.650000', '2019-01-11 15:08:07.660000',
               '2019-01-11 15:08:07.670000', '2019-01-11 15:08:07.680000',
               '2019-01-11 15:08:07.690000', '2019-01-11 15:08:07.700000'],
              dtype='datetime64[ns]', freq='10L')

In [ ]:
data_list1=pd.date_range('2019-01-11 15:08:07.550','2019-01-11 15:08:07.700',freq='10ms')

In [ ]:
data_list1

DatetimeIndex(['2019-01-11 15:08:07.550000', '2019-01-11 15:08:07.560000',
               '2019-01-11 15:08:07.570000', '2019-01-11 15:08:07.580000',
               '2019-01-11 15:08:07.590000', '2019-01-11 15:08:07.600000',
               '2019-01-11 15:08:07.610000', '2019-01-11 15:08:07.620000',
               '2019-01-11 15:08:07.630000', '2019-01-11 15:08:07.640000',
               '2019-01-11 15:08:07.650000', '2019-01-11 15:08:07.660000',
               '2019-01-11 15:08:07.670000', '2019-01-11 15:08:07.680000',
               '2019-01-11 15:08:07.690000', '2019-01-11 15:08:07.700000'],
              dtype='datetime64[ns]', freq='10L')

In [ ]:
type('2019-01-11 15:08:07.550')

str

In [ ]:
data_merged['epoch (ms)']

KeyError: 'epoch (ms)'

In [ ]:
data_merged

,x-axis (g),y-axis (g),z-axis (g),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s),participant,lable,category,set
epoch (ms),,,,,,,,,,
2019-01-11 15:08:04.950,NaN,NaN,NaN,-10.671,-1.524,5.976,B,bench,heavy,30.0
2019-01-11 15:08:04.990,NaN,NaN,NaN,-8.720,-2.073,3.171,B,bench,heavy,30.0
2019-01-11 15:08:05.030,NaN,NaN,NaN,0.488,-3.537,-4.146,B,bench,heavy,30.0
2019-01-11 15:08:05.070,NaN,NaN,NaN,0.244,-5.854,3.537,B,bench,heavy,30.0
2019-01-11 15:08:05.110,NaN,NaN,NaN,-0.915,0.061,-2.805,B,bench,heavy,30.0
...,...,...,...,...,...,...,...,...,...,...
2019-01-20 17:35:13.382,-0.060,-1.021,-0.058,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-20 17:35:13.462,-0.035,-1.037,-0.026,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-20 17:35:13.542,-0.045,-1.029,-0.033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-20 17:35:13.622,-0.039,-1.027,-0.039,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-20 17:35:13.702,-0.049,-1.031,-0.049,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data_merged.index

DatetimeIndex(['2019-01-11 15:08:04.950000', '2019-01-11 15:08:04.990000',
               '2019-01-11 15:08:05.030000', '2019-01-11 15:08:05.070000',
               '2019-01-11 15:08:05.110000', '2019-01-11 15:08:05.150000',
               '2019-01-11 15:08:05.190000', '2019-01-11 15:08:05.230000',
               '2019-01-11 15:08:05.270000', '2019-01-11 15:08:05.310000',
               ...
               '2019-01-20 17:35:12.982000', '2019-01-20 17:35:13.062000',
               '2019-01-20 17:35:13.142000', '2019-01-20 17:35:13.222000',
               '2019-01-20 17:35:13.302000', '2019-01-20 17:35:13.382000',
               '2019-01-20 17:35:13.462000', '2019-01-20 17:35:13.542000',
               '2019-01-20 17:35:13.622000', '2019-01-20 17:35:13.702000'],
              dtype='datetime64[ns]', name='epoch (ms)', length=69677, freq=None)

In [ ]:
data_list1=pd.date_range('2019-01-11 15:08:07.550','2019-01-11 15:08:07.700',freq='500ns')

In [ ]:
data_list1

DatetimeIndex([   '2019-01-11 15:08:07.550000',
               '2019-01-11 15:08:07.550000500',
                  '2019-01-11 15:08:07.550001',
               '2019-01-11 15:08:07.550001500',
                  '2019-01-11 15:08:07.550002',
               '2019-01-11 15:08:07.550002500',
                  '2019-01-11 15:08:07.550003',
               '2019-01-11 15:08:07.550003500',
                  '2019-01-11 15:08:07.550004',
               '2019-01-11 15:08:07.550004500',
               ...
               '2019-01-11 15:08:07.699995500',
                  '2019-01-11 15:08:07.699996',
               '2019-01-11 15:08:07.699996500',
                  '2019-01-11 15:08:07.699997',
               '2019-01-11 15:08:07.699997500',
                  '2019-01-11 15:08:07.699998',
               '2019-01-11 15:08:07.699998500',
                  '2019-01-11 15:08:07.699999',
               '2019-01-11 15:08:07.699999500',
                  '2019-01-11 15:08:07.700000'],
              dtype='datetime64[ns]', length=300001, freq='500N')

In [ ]:
data_list1=pd.date_range('2019-01-11 15:08:07.550','2019-01-11 15:08:07.700',freq='10000ns')

In [ ]:
data_list1

DatetimeIndex(['2019-01-11 15:08:07.550000', '2019-01-11 15:08:07.550010',
               '2019-01-11 15:08:07.550020', '2019-01-11 15:08:07.550030',
               '2019-01-11 15:08:07.550040', '2019-01-11 15:08:07.550050',
               '2019-01-11 15:08:07.550060', '2019-01-11 15:08:07.550070',
               '2019-01-11 15:08:07.550080', '2019-01-11 15:08:07.550090',
               ...
               '2019-01-11 15:08:07.699910', '2019-01-11 15:08:07.699920',
               '2019-01-11 15:08:07.699930', '2019-01-11 15:08:07.699940',
               '2019-01-11 15:08:07.699950', '2019-01-11 15:08:07.699960',
               '2019-01-11 15:08:07.699970', '2019-01-11 15:08:07.699980',
               '2019-01-11 15:08:07.699990', '2019-01-11 15:08:07.700000'],
              dtype='datetime64[ns]', length=15001, freq='10000N')

In [ ]:
data_list1=pd.date_range('2019-01-11 15:08:07.550','2019-01-11 15:08:07.700',freq='ms')

In [ ]:
data_list1

DatetimeIndex(['2019-01-11 15:08:07.550000', '2019-01-11 15:08:07.551000',
               '2019-01-11 15:08:07.552000', '2019-01-11 15:08:07.553000',
               '2019-01-11 15:08:07.554000', '2019-01-11 15:08:07.555000',
               '2019-01-11 15:08:07.556000', '2019-01-11 15:08:07.557000',
               '2019-01-11 15:08:07.558000', '2019-01-11 15:08:07.559000',
               ...
               '2019-01-11 15:08:07.691000', '2019-01-11 15:08:07.692000',
               '2019-01-11 15:08:07.693000', '2019-01-11 15:08:07.694000',
               '2019-01-11 15:08:07.695000', '2019-01-11 15:08:07.696000',
               '2019-01-11 15:08:07.697000', '2019-01-11 15:08:07.698000',
               '2019-01-11 15:08:07.699000', '2019-01-11 15:08:07.700000'],
              dtype='datetime64[ns]', length=151, freq='L')

In [ ]:
data_list1=pd.date_range('2019-01-11 15:08:07.550','2019-01-11 15:08:07.700',freq='100ms')

In [ ]:
data_list1

DatetimeIndex(['2019-01-11 15:08:07.550000', '2019-01-11 15:08:07.650000'], dtype='datetime64[ns]', freq='100L')

In [ ]:
data_merged

,x-axis (g),y-axis (g),z-axis (g),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s),participant,lable,category,set
epoch (ms),,,,,,,,,,
2019-01-11 15:08:04.950,NaN,NaN,NaN,-10.671,-1.524,5.976,B,bench,heavy,30.0
2019-01-11 15:08:04.990,NaN,NaN,NaN,-8.720,-2.073,3.171,B,bench,heavy,30.0
2019-01-11 15:08:05.030,NaN,NaN,NaN,0.488,-3.537,-4.146,B,bench,heavy,30.0
2019-01-11 15:08:05.070,NaN,NaN,NaN,0.244,-5.854,3.537,B,bench,heavy,30.0
2019-01-11 15:08:05.110,NaN,NaN,NaN,-0.915,0.061,-2.805,B,bench,heavy,30.0
...,...,...,...,...,...,...,...,...,...,...
2019-01-20 17:35:13.382,-0.060,-1.021,-0.058,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-20 17:35:13.462,-0.035,-1.037,-0.026,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-20 17:35:13.542,-0.045,-1.029,-0.033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-20 17:35:13.622,-0.039,-1.027,-0.039,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-20 17:35:13.702,-0.049,-1.031,-0.049,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data_merged[:100].resample(rule='S')

In [ ]:
data_merged[:100].resample(rule='S').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
data_merged.columns=[
    'acc_x',
    'acc_y',
    'acc_z',
    'gyr_x',
    'gyr_y',
    'gyr_z',
    'lable',
    'category',
    'participant',
    'set'
]

In [ ]:
data_merged.columns

Index(['acc_x', 'acc_y', 'acc_z', 'gyr_x', 'gyr_y', 'gyr_z', 'lable',
       'category', 'participant', 'set'],
      dtype='object')

In [ ]:
data_merged[:100].iloc[:,:5].resample(rule='S').mean()

                        acc_x     acc_y     acc_z     gyr_x     gyr_y
epoch (ms)
2019-01-11 15:08:04       NaN       NaN       NaN -9.695500 -1.798500
2019-01-11 15:08:05 -0.002222  0.969333 -0.071222  1.007320 -0.731720
2019-01-11 15:08:06 -0.099231  0.899462 -0.163846  6.978040  2.417120
2019-01-11 15:08:07 -0.197875  1.120750 -0.124375  1.659833 -2.466222

In [ ]:
data_merged[:100].iloc[:,:5].resample(rule='200ms').mean()

                            acc_x     acc_y     acc_z      gyr_x      gyr_y
epoch (ms)
2019-01-11 15:08:04.800       NaN       NaN       NaN  -9.695500  -1.798500
2019-01-11 15:08:05.000       NaN       NaN       NaN  -2.012200  -0.427000
2019-01-11 15:08:05.200  0.013500  0.977000 -0.071000  -1.890400   2.439200
2019-01-11 15:08:05.400 -0.001500  0.970500 -0.079500  -1.682600  -0.890400
2019-01-11 15:08:05.600  0.001333  0.971667 -0.064333   2.560800  -0.256000
2019-01-11 15:08:05.800 -0.024000  0.957000 -0.073500   8.061000  -4.524400
2019-01-11 15:08:06.000 -0.028000  0.957667 -0.115000   2.439000  -1.548600
2019-01-11 15:08:06.200 -0.026000  0.965000 -0.118000   0.463400   5.219400
2019-01-11 15:08:06.400 -0.048667  0.790000 -0.145333  21.695000   8.170800
2019-01-11 15:08:06.600 -0.170000  0.899500 -0.250000  17.524600   1.597600
2019-01-11 15:08:06.800 -0.222667  0.907000 -0.204333  -7.231800  -1.353600
2019-01-11 15:08:07.000 -0.204500  0.930000 -0.149000 -28.683000 -10.207600
2019-01-11 15:08:07.200 -0.205000  1.404667 -0.095000  -4.109800  -9.317200
2019-01-11 15:08:07.400 -0.163500  0.996000 -0.113000  35.548800  11.573200
2019-01-11 15:08:07.600 -0.232000  0.900000 -0.186000   5.365667  -1.544667

In [ ]:
data_merged[:1000].iloc[:,:5].resample(rule='200ms').mean()

                            acc_x     acc_y     acc_z    gyr_x    gyr_y
epoch (ms)
2019-01-11 15:08:04.800       NaN       NaN       NaN -9.69550  -1.7985
2019-01-11 15:08:05.000       NaN       NaN       NaN -2.01220  -0.4270
2019-01-11 15:08:05.200  0.013500  0.977000 -0.071000 -1.89040   2.4392
2019-01-11 15:08:05.400 -0.001500  0.970500 -0.079500 -1.68260  -0.8904
2019-01-11 15:08:05.600  0.001333  0.971667 -0.064333  2.56080  -0.2560
...                           ...       ...       ...      ...      ...
2019-01-11 15:10:21.600 -0.174000  1.092667 -0.153333 -4.96360 -16.4026
2019-01-11 15:10:21.800 -0.219500  1.402500 -0.109000 -7.52440  18.6706
2019-01-11 15:10:22.000 -0.192000  0.871667 -0.155667  2.60980   8.7070
2019-01-11 15:10:22.200 -0.227000  0.891000 -0.170000  5.39020   4.0000
2019-01-11 15:10:22.400 -0.225500  0.919500 -0.205500  6.34125   0.5795

[689 rows x 5 columns]

In [ ]:
sampling ={
    'acc_x': 'mean',
    'acc_y': 'mean',
    'acc_z': 'mean',
    'gyr_x': 'mean',
    'gyr_y': 'mean',
    'gyr_z': 'mean',
    'lable': 'first',
    'category': 'first',
    'participant': 'first',
    'set':'first'


}

In [ ]:
data_merged[:1000].iloc[:,:5].resample(rule='200ms').apply(sampling)

KeyError: "Column(s) ['category', 'gyr_z', 'lable', 'participant', 'set'] do not exist"

In [ ]:
data_merged.columns

Index(['acc_x', 'acc_y', 'acc_z', 'gyr_x', 'gyr_y', 'gyr_z', 'lable',
       'category', 'participant', 'set'],
      dtype='object')

In [ ]:
data_merged[:1000].iloc[:,:5].resample(rule='200ms').apply(sampling)

KeyError: "Column(s) ['category', 'gyr_z', 'lable', 'participant', 'set'] do not exist"

In [ ]:
sampling ={
    'acc_y':'mean',
    'acc_z':'mean',
    'gyr_x':'mean',
    'acc_x':'mean',
    'gyr_y':'mean',
    'gyr_z':'mean',
    'lable':'last',
    'category':'last',
    'participant':'last',
    'set':'last'
}

In [ ]:
sampling

{'acc_y': 'mean',
 'acc_z': 'mean',
 'gyr_x': 'mean',
 'acc_x': 'mean',
 'gyr_y': 'mean',
 'gyr_z': 'mean',
 'lable': 'last',
 'category': 'last',
 'participant': 'last',
 'set': 'last'}

In [ ]:
data_merged[:1000].iloc[:,:5].resample(rule='200ms').apply(sampling)

KeyError: "Column(s) ['category', 'gyr_z', 'lable', 'participant', 'set'] do not exist"

In [ ]:
data_merged.columns

Index(['acc_x', 'acc_y', 'acc_z', 'gyr_x', 'gyr_y', 'gyr_z', 'lable',
       'category', 'participant', 'set'],
      dtype='object')

In [ ]:
sampling ={'acc_x':"mean", 'acc_y':"mean", 'acc_z':"mean", 'gyr_x':"mean", 'gyr_y':"mean", 'gyr_z':"mean", 'lable':'last',
       'category':'last', 'participant':'last', 'set':'last'
}

In [ ]:
data_merged[:1000].iloc[:,:5].resample(rule='200ms').apply(sampling)

KeyError: "Column(s) ['category', 'gyr_z', 'lable', 'participant', 'set'] do not exist"

In [ ]:
data_merged[:1000].resample(rule='200ms').apply(sampling)

,acc_x,acc_y,acc_z,gyr_x,gyr_y,gyr_z,lable,category,participant,set
epoch (ms),,,,,,,,,,
2019-01-11 15:08:04.800,NaN,NaN,NaN,-9.69550,-1.7985,4.5735,B,bench,heavy,30.0
2019-01-11 15:08:05.000,NaN,NaN,NaN,-2.01220,-0.4270,-1.6218,B,bench,heavy,30.0
2019-01-11 15:08:05.200,0.013500,0.977000,-0.071000,-1.89040,2.4392,0.9388,B,bench,heavy,30.0
2019-01-11 15:08:05.400,-0.001500,0.970500,-0.079500,-1.68260,-0.8904,2.1708,B,bench,heavy,30.0
2019-01-11 15:08:05.600,0.001333,0.971667,-0.064333,2.56080,-0.2560,-1.4146,B,bench,heavy,30.0
...,...,...,...,...,...,...,...,...,...,...
2019-01-11 15:10:21.600,-0.174000,1.092667,-0.153333,-4.96360,-16.4026,21.9026,A,bench,heavy,1.0
2019-01-11 15:10:21.800,-0.219500,1.402500,-0.109000,-7.52440,18.6706,-22.6828,A,bench,heavy,1.0
2019-01-11 15:10:22.000,-0.192000,0.871667,-0.155667,2.60980,8.7070,-14.8658,A,bench,heavy,1.0
2019-01-11 15:10:22.200,-0.227000,0.891000,-0.170000,5.39020,4.0000,-0.3780,A,bench,heavy,1.0
2019-01-11 15:10:22.400,-0.225500,0.919500,-0.205500,6.34125,0.5795,9.9085,A,bench,heavy,1.0

In [ ]:
days=[g for n ,g in data_merged.groupby(data_merged.groupby(freq='D'))]

TypeError: DataFrame.groupby() got an unexpected keyword argument 'freq'

In [ ]:
days=[g for n ,g in data_merged.groupby(pd.groupby(freq='D'))]

AttributeError: module 'pandas' has no attribute 'groupby'

In [ ]:
days=[g for n ,g in data_merged.groupby(pd.Grouper(freq='D'))]

In [ ]:
days

[                         acc_x  acc_y  acc_z   gyr_x   gyr_y  gyr_z lable  \
 epoch (ms)
 2019-01-11 15:08:04.950    NaN    NaN    NaN -10.671  -1.524  5.976     B
 2019-01-11 15:08:04.990    NaN    NaN    NaN  -8.720  -2.073  3.171     B
 2019-01-11 15:08:05.030    NaN    NaN    NaN   0.488  -3.537 -4.146     B
 2019-01-11 15:08:05.070    NaN    NaN    NaN   0.244  -5.854  3.537     B
 2019-01-11 15:08:05.110    NaN    NaN    NaN  -0.915   0.061 -2.805     B
 ...                        ...    ...    ...     ...     ...    ...   ...
 2019-01-11 16:24:55.706    NaN    NaN    NaN  -8.415   7.683  4.207     A
 2019-01-11 16:24:55.746    NaN    NaN    NaN  -4.573  -5.732  2.744     A
 2019-01-11 16:24:55.753  0.005 -1.022 -0.176     NaN     NaN    NaN   NaN
 2019-01-11 16:24:55.786    NaN    NaN    NaN   1.463 -12.195 -0.305     A
 2019-01-11 16:24:55.833 -0.002 -1.026 -0.189     NaN     NaN    NaN   NaN

                         category participant   set
 epoch (ms)
 2019-01-11 15:08:04.950    bench       heavy  30.0
 2019-01-11 15:08:04.990    bench       heavy  30.0
 2019-01-11 15:08:05.030    bench       heavy  30.0
 2019-01-11 15:08:05.070    bench       heavy  30.0
 2019-01-11 15:08:05.110    bench       heavy  30.0
 ...                          ...         ...   ...
 2019-01-11 16:24:55.706     dead      medium   6.0
 2019-01-11 16:24:55.746     dead      medium   6.0
 2019-01-11 16:24:55.753      NaN         NaN   NaN
 2019-01-11 16:24:55.786     dead      medium   6.0
 2019-01-11 16:24:55.833      NaN         NaN   NaN

 [14549 rows x 10 columns],
                          acc_x  acc_y  acc_z  gyr_x   gyr_y  gyr_z lable  \
 epoch (ms)
 2019-01-12 15:10:08.351    NaN    NaN    NaN  0.122  -5.488 -3.841     E
 2019-01-12 15:10:08.391    NaN    NaN    NaN  2.195  -9.695 -0.610     E
 2019-01-12 15:10:08.431  0.010  0.964 -0.087  2.622  -8.110 -4.024     E
 2019-01-12 15:10:08.471    NaN    NaN    NaN  1.951  -4.695 -4.634     E
 2019-01-12 15:10:08.511  0.000  0.961 -0.069  1.524  -2.561 -2.500     E
 ...                        ...    ...    ...    ...     ...    ...   ...
 2019-01-12 16:24:55.706    NaN    NaN    NaN -8.415   7.683  4.207     E
 2019-01-12 16:24:55.746    NaN    NaN    NaN -4.573  -5.732  2.744     E
 2019-01-12 16:24:55.753  0.005 -1.022 -0.176    NaN     NaN    NaN   NaN
 2019-01-12 16:24:55.786    NaN    NaN    NaN  1.463 -12.195 -0.305     E
 2019-01-12 16:24:55.833 -0.002 -1.026 -0.189    NaN     NaN    NaN   NaN

                         category participant   set
 epoch (ms)
 2019-01-12 15:10:08.351    bench       heavy  65.0
 2019-01-12 15:10:08.391    bench       heavy  65.0
 2019-01-12 15:10:08.431    bench       heavy  65.0
 2019-01-12 15:10:08.471    bench       heavy  65.0
 2019-01-12 15:10:08.511    bench       heavy  65.0
 ...                          ...         ...   ...
 2019-01-12 16:24:55.706     dead      medium  73.0
 2019-01-12 16:24:55.746     dead      medium  73.0
 2019-01-12 16:24:55.753      NaN         NaN   NaN
 2019-01-12 16:24:55.786     dead      medium  73.0
 2019-01-12 16:24:55.833      NaN         NaN   NaN

 [2026 rows x 10 columns],
 Empty DataFrame
 Columns: [acc_x, acc_y, acc_z, gyr_x, gyr_y, gyr_z, lable, category, participant, set]
 Index: [],
                          acc_x  acc_y  acc_z  gyr_x   gyr_y  gyr_z lable  \
 epoch (ms)
 2019-01-14 13:22:49.353    NaN    NaN    NaN -2.866  -0.610 -5.366     A
 2019-01-14 13:22:49.393    NaN    NaN    NaN -2.500  -0.610 -3.963     A
 2019-01-14 13:22:49.433    NaN    NaN    NaN  1.707  -3.902  1.524     A
 2019-01-14 13:22:49.473    NaN    NaN    NaN  2.439  -4.939 -4.207     A
 2019-01-14 13:22:49.513    NaN    NaN    NaN  7.500  -6.037  1.768     A
 ...                        ...    ...    ...    ...     ...    ...   ...
 2019-01-14 14:08:59.349  0.016 -0.990 -0.110    NaN     NaN    NaN   NaN
 2019-01-14 14:08:59.352    NaN    NaN    NaN  4.512 -12.317 -2.683     C
 2019-01-14 14:08:59.392    NaN    NaN    NaN  5.610 -15.427 -0.244     C
 2019-01-14 14:08:59.429  0.024 -0.986 -0.061    NaN     NaN    NaN   NaN
 2019-01-14 14:08:59.509  0.033 -0.977 -0.055    NaN     NaN    NaN   NaN

                         category participant   set
 epoch (ms)
 2019-01-14 13:22:49.353    bench       heavy   4.0
 2019-01-14 13:22:49.393    bench       heavy   4.0
 2019-01-14 13:22:49.433    bench       heavy   4.0
 2019-01-14 13:22:49.473    bench       heavy   4.0
 2019-01-14 13:22:49.513    bench       heavy   4.0
 ...                          ...         ...   ...
 2019-01-14 14:08:59.349      NaN         NaN   NaN
 2019-01-14 14:08:59.352      row       heavy  49.0
 2019-01-14 14:08:59.392      row       heavy  49.0
 2019-01-14 14:08:59.429      NaN         NaN   NaN
 2019-01-14 14:08:59.509      NaN         NaN   NaN

 [7378 rows x 10 columns],
                          acc_x  acc_y  acc_z   gyr_x   gyr_y  gyr_z lable  \
 epoch (ms)
 2019-01-15 13:22:49.353    NaN    NaN    NaN  -2.866  -0.610 -5.366     E
 2019-01-15 13:22:49.393    NaN    NaN    NaN  -2.500  -0.610 -3.963     E
 2019-01-15 13:22:49.433    NaN    NaN    NaN   1.707  -3.902  1.524     E
 2019-01-15 13:22:49.473    NaN    NaN    NaN   2.439  -4.939 -4.207     E
 2019-01-15 13:22:49.513    NaN    NaN    NaN   7.500  -6.037  1.768     E
 ...                        ...    ...    ...     ...     ...    ...   ...
 2019-01-15 19:37:47.572    NaN    NaN    NaN   8.780  20.366  0.183     C
 2019-01-15 19:37:47.575  0.077 -1.041 -0.137     NaN     NaN    NaN   NaN
 2019-01-15 19:37:47.612    NaN    NaN    NaN   9.939  29.573  2.744     C
 2019-01-15 19:37:47.652    NaN    NaN    NaN  15.488  34.878  5.610     C
 2019-01-15 19:37:47.655  0.098 -1.039 -0.103     NaN     NaN    NaN   NaN

                         category participant   set
 epoch (ms)
 2019-01-15 13:22:49.353    bench       heavy  68.0
 2019-01-15 13:22:49.393    bench       heavy  68.0
 2019-01-15 13:22:49.433    bench       heavy  68.0
 2019-01-15 13:22:49.473    bench       heavy  68.0
 2019-01-15 13:22:49.513    bench       heavy  68.0
 ...                          ...         ...   ...
 2019-01-15 19:37:47.572     dead      medium  44.0
 2019-01-15 19:37:47.575      NaN         NaN   NaN
 2019-01-15 19:37:47.612     dead      medium  44.0
 2019-01-15 19:37:47.652     dead      medium  44.0
 2019-01-15 19:37:47.655      NaN         NaN   NaN

 [14782 rows x 10 columns],
                          acc_x  acc_y  acc_z  gyr_x  gyr_y   gyr_z lable  \
 epoch (ms)
 2019-01-16 14:04:06.332    NaN    NaN    NaN  1.402 -6.280   1.585     E
 2019-01-16 14:04:06.372    NaN    NaN    NaN  1.341 -5.427   0.915     E
 2019-01-16 14:04:06.412    NaN    NaN    NaN -1.280  0.671  -1.829     E
 2019-01-16 14:04:06.452    NaN    NaN    NaN -1.829  0.366  -0.549     E
 2019-01-16 14:04:06.492    NaN    NaN    NaN -1.951 -2.683   1.829     E
 ...                        ...    ...    ...    ...    ...     ...   ...
 2019-01-16 19:35:43.646    NaN    NaN    NaN  5.671 -1.463  10.183     E
 2019-01-16 19:35:43.652 -0.024 -1.044 -0.172    NaN    NaN     NaN   NaN
 2019-01-16 19:35:43.686    NaN    NaN    NaN  5.854 -2.988   9.512     E
 2019-01-16 19:35:43.726    NaN    NaN    NaN  0.915 -5.793   9.634     E
 2019-01-16 19:35:43.732 -0.012 -1.048 -0.124    NaN    NaN     NaN   NaN

                         category participant   set
 epoch (ms)
 2019-01-16 14:04:06.332      row       heavy  84.0
 2019-01-16 14:04:06.372      row       heavy  84.0
 2019-01-16 14:04:06.412      row       heavy  84.0
 2019-01-16 14:04:06.452      row       heavy  84.0
 2019-01-16 14:04:06.492      row       heavy  84.0
 ...                          ...         ...   ...
 2019-01-16 19:35:43.646     dead       heavy  72.0
 2019-01-16 19:35:43.652      NaN         NaN   NaN
 2019-01-16 19:35:43.686     dead       heavy  72.0
 2019-01-16 19:35:43.726     dead       heavy  72.0
 2019-01-16 19:35:43.732      NaN         NaN   NaN

 [5088 rows x 10 columns],
 Empty DataFrame
 Columns: [acc_x, acc_y, acc_z, gyr_x, gyr_y, gyr_z, lable, category, participant, set]
 Index: [],
                          acc_x  acc_y  acc_z  gyr_x  gyr_y  gyr_z lable  \
 epoch (ms)
 2019-01-18 16:45:47.773    NaN    NaN    NaN -2.073 -0.549 -0.305     D
 2019-01-18 16:45:47.813    NaN    NaN    NaN -1.707 -1.220  0.061     D
 2019-01-18 16:45:47.853    NaN    NaN    NaN  0.122 -2.561  0.244     D
 2019-01-18 16:45:47.893    NaN    NaN    NaN  1.829 -2.988 -1.341     D
 2019-01-18 16:45:47.933    NaN    NaN    NaN  6.098 -2.439 -2.195     D
 ...                        ...    ...    ...    ...    ...    ...   ...
 2019-01-18 17:35:13.616    NaN    NaN    NaN -1.220 -4.146  3.537     D
 2019-01-18 17:35:13.621 -0.039 -1.027 -0.039    NaN    NaN    NaN   NaN
 2019-01-18 17:35:13.656    NaN    NaN    NaN -0.122 -6.159  0.183     D
 2019-01-18 17:35:13.696    NaN    NaN    NaN -0.671 -3.171 -0.305     D
 2019-01-18 17:35:13.701 -0.049 -1.031 -0.049    NaN    NaN    NaN   NaN

                         category participant   set
 epoch (ms)
 2019-01-18 16:45:47.773    squat      medium  63.0
 2019-01-18 16:45:47.813    squat      medium  63.0
 2019-01-18 16:45:47.853    squat      medium  63.0
 2019-01-18 16:45:47.893    squat      medium  63.0
 2019-01-18 16:45:47.933    squat      medium  63.0
 ...                          ...         ...   ...
 2019-01-18 17:35:13.616      row      medium  61.0
 2019-01-18 17:35:13.621      NaN         NaN   NaN
 2019-01-18 17:35:13.656      row      medium  61.0
 2019-01-18 17:35:13.696      row      medium  61.0
 2019-01-18 17:35:13.701      NaN         NaN   NaN

 [10692 rows x 10 columns],
                          acc_x  acc_y  acc_z  gyr_x  gyr_y  gyr_z lable  \
 epoch (ms)
 2019-01-19 17:12:14.175    NaN    NaN    NaN  4.451 -6.098  0.244     E
 2019-01-19 17:12:14.215    NaN    NaN    NaN  3.659 -6.037  0.732     E
 2019-01-19 17:12:14.255    NaN    NaN    NaN  1.402 -3.902  0.915     E
 2019-01-19 17:12:14.295    NaN    NaN    NaN  0.305 -2.195 -0.915     E
 2019-01-19 17:12:14.335    NaN    NaN    NaN -1.463 -1.524 -0.610     E
 ...                        ...    ...    ...    ...    ...    ...   ...
 2019-01-19 17:35:13.616    NaN    NaN    NaN -1.220 -4.146  3.537     E
 2019-01-19 17:35:13.621 -0.039 -1.027 -0.039    NaN    NaN    NaN   NaN
 2019-01-19 17:35:13.656    NaN    NaN    NaN -0.122 -6.159  0.183     E
 2019-01-19 17:35:13.696    NaN    NaN    NaN -0.671 -3.171 -0.305     E
 2019-01-19 17:35:13.701 -0.049 -1.031 -0.049    NaN    NaN    NaN   NaN

                         category participant   set
 epoch (ms)
 2019-01-19 17:12:14.175    bench      medium  69.0
 2019-01-19 17:12:14.215    bench      medium  69.0
 2019-01-19 17:12:14.255    bench      medium  69.0
 2019-01-19 17:12:14.295    bench      medium  69.0
 2019-01-19 17:12:14.335    bench      medium  69.0
 ...                          ...         ...   ...
 2019-01-19 17:35:13.616      row      medium  91.0
 2019-01-19 17:35:13.621      NaN         NaN   NaN
 2019-01-19 17:35:13.656      row      medium  91.0
 2019-01-19 17:35:13.696      row      medium  91.0
 2019-01-19 17:35:13.701      NaN         NaN   NaN

 [10582 rows x 10 columns],
                          acc_x  acc_y  acc_z  gyr_x  gyr_y  gyr_z lable  \
 epoch (ms)
 2019-01-20 17:22:25.756    NaN    NaN    NaN  1.341  1.463  0.671     E
 2019-01-20 17:22:25.796    NaN    NaN    NaN  1.098  1.098  0.976     E
 2019-01-20 17:22:25.836    NaN    NaN    NaN  0.183 -2.195  0.305     E
 2019-01-20 17:22:25.876    NaN    NaN    NaN  0.061 -2.195  0.183     E
 2019-01-20 17:22:25.916    NaN    NaN    NaN  0.305  0.915  1.159     E
 ...                        ...    ...    ...    ...    ...    ...   ...
 2019-01-20 17:35:13.382 -0.060 -1.021 -0.058    NaN    NaN    NaN   NaN
 2019-01-20 17:35:13.462 -0.035 -1.037 -0.026    NaN    NaN    NaN   NaN
 2019-01-20 17:35:13.542 -0.045 -1.029 -0.033    NaN    NaN    NaN   NaN
 2019-01-20 17:35:13.622 -0.039 -1.027 -0.039    NaN    NaN    NaN   NaN
 2019-01-20 17:35:13.702 -0.049 -1.031 -0.049    NaN    NaN    NaN   NaN

                         category participant   set
 epoch (ms)
 2019-01-20 17:22:25.756     rest     sitting  80.0
 2019-01-20 17:22:25.796     rest     sitting  80.0
 2019-01-20 17:22:25.836     rest     sitting  80.0
 2019-01-20 17:22:25.876     rest     sitting  80.0
 2019-01-20 17:22:25.916     rest     sitting  80.0
 ...                          ...         ...   ...
 2019-01-20 17:35:13.382      NaN         NaN   NaN
 2019-01-20 17:35:13.462      NaN         NaN   NaN
 2019-01-20 17:35:13.542      NaN         NaN   NaN
 2019-01-20 17:35:13.622      NaN         NaN   NaN
 2019-01-20 17:35:13.702      NaN         NaN   NaN

 [4580 rows x 10 columns]]

In [ ]:
days[1]

,acc_x,acc_y,acc_z,gyr_x,gyr_y,gyr_z,lable,category,participant,set
epoch (ms),,,,,,,,,,
2019-01-12 15:10:08.351,NaN,NaN,NaN,0.122,-5.488,-3.841,E,bench,heavy,65.0
2019-01-12 15:10:08.391,NaN,NaN,NaN,2.195,-9.695,-0.610,E,bench,heavy,65.0
2019-01-12 15:10:08.431,0.010,0.964,-0.087,2.622,-8.110,-4.024,E,bench,heavy,65.0
2019-01-12 15:10:08.471,NaN,NaN,NaN,1.951,-4.695,-4.634,E,bench,heavy,65.0
2019-01-12 15:10:08.511,0.000,0.961,-0.069,1.524,-2.561,-2.500,E,bench,heavy,65.0
...,...,...,...,...,...,...,...,...,...,...
2019-01-12 16:24:55.706,NaN,NaN,NaN,-8.415,7.683,4.207,E,dead,medium,73.0
2019-01-12 16:24:55.746,NaN,NaN,NaN,-4.573,-5.732,2.744,E,dead,medium,73.0
2019-01-12 16:24:55.753,0.005,-1.022,-0.176,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-12 16:24:55.786,NaN,NaN,NaN,1.463,-12.195,-0.305,E,dead,medium,73.0
2019-01-12 16:24:55.833,-0.002,-1.026,-0.189,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
days[2]

Empty DataFrame
Columns: [acc_x, acc_y, acc_z, gyr_x, gyr_y, gyr_z, lable, category, participant, set]
Index: []

In [ ]:
days[3]

,acc_x,acc_y,acc_z,gyr_x,gyr_y,gyr_z,lable,category,participant,set
epoch (ms),,,,,,,,,,
2019-01-14 13:22:49.353,NaN,NaN,NaN,-2.866,-0.610,-5.366,A,bench,heavy,4.0
2019-01-14 13:22:49.393,NaN,NaN,NaN,-2.500,-0.610,-3.963,A,bench,heavy,4.0
2019-01-14 13:22:49.433,NaN,NaN,NaN,1.707,-3.902,1.524,A,bench,heavy,4.0
2019-01-14 13:22:49.473,NaN,NaN,NaN,2.439,-4.939,-4.207,A,bench,heavy,4.0
2019-01-14 13:22:49.513,NaN,NaN,NaN,7.500,-6.037,1.768,A,bench,heavy,4.0
...,...,...,...,...,...,...,...,...,...,...
2019-01-14 14:08:59.349,0.016,-0.990,-0.110,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-14 14:08:59.352,NaN,NaN,NaN,4.512,-12.317,-2.683,C,row,heavy,49.0
2019-01-14 14:08:59.392,NaN,NaN,NaN,5.610,-15.427,-0.244,C,row,heavy,49.0
2019-01-14 14:08:59.429,0.024,-0.986,-0.061,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-14 14:08:59.509,0.033,-0.977,-0.055,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data_merged.groupby(pd.Grouper(freq='D'))

In [ ]:
a,c=data_merged.groupby(pd.Grouper(freq='D'))

ValueError: too many values to unpack (expected 2)

In [ ]:
a=data_merged.groupby(pd.Grouper(freq='D'))

In [ ]:
data_resampled=pd.concat([df.resample(rule='200ms').apply(sampling).dropna() for df in days])

In [ ]:
data_resampled

,acc_x,acc_y,acc_z,gyr_x,gyr_y,gyr_z,lable,category,participant,set
epoch (ms),,,,,,,,,,
2019-01-11 15:08:05.200,0.013500,0.977000,-0.071000,-1.8904,2.4392,0.9388,B,bench,heavy,30.0
2019-01-11 15:08:05.400,-0.001500,0.970500,-0.079500,-1.6826,-0.8904,2.1708,B,bench,heavy,30.0
2019-01-11 15:08:05.600,0.001333,0.971667,-0.064333,2.5608,-0.2560,-1.4146,B,bench,heavy,30.0
2019-01-11 15:08:05.800,-0.024000,0.957000,-0.073500,8.0610,-4.5244,-2.0730,B,bench,heavy,30.0
2019-01-11 15:08:06.000,-0.028000,0.957667,-0.115000,2.4390,-1.5486,-3.6098,B,bench,heavy,30.0
...,...,...,...,...,...,...,...,...,...,...
2019-01-20 17:33:27.000,-0.048000,-1.041500,-0.076500,1.4146,-5.6218,0.2926,E,row,medium,90.0
2019-01-20 17:33:27.200,-0.037000,-1.030333,-0.053333,-2.7684,-0.5854,2.2440,E,row,medium,90.0
2019-01-20 17:33:27.400,-0.060000,-1.031000,-0.082000,2.8416,-5.1342,-0.1220,E,row,medium,90.0
2019-01-20 17:33:27.600,-0.038667,-1.025667,-0.044667,-0.2318,0.2562,1.1220,E,row,medium,90.0
2019-01-20 17:33:27.800,-0.044000,-1.034000,-0.059000,1.0980,-4.0240,0.9760,E,row,medium,90.0

In [ ]:
data_resampled.info

<bound method DataFrame.info of                             acc_x     acc_y     acc_z   gyr_x   gyr_y   gyr_z  \
epoch (ms)
2019-01-11 15:08:05.200  0.013500  0.977000 -0.071000 -1.8904  2.4392  0.9388
2019-01-11 15:08:05.400 -0.001500  0.970500 -0.079500 -1.6826 -0.8904  2.1708
2019-01-11 15:08:05.600  0.001333  0.971667 -0.064333  2.5608 -0.2560 -1.4146
2019-01-11 15:08:05.800 -0.024000  0.957000 -0.073500  8.0610 -4.5244 -2.0730
2019-01-11 15:08:06.000 -0.028000  0.957667 -0.115000  2.4390 -1.5486 -3.6098
...                           ...       ...       ...     ...     ...     ...
2019-01-20 17:33:27.000 -0.048000 -1.041500 -0.076500  1.4146 -5.6218  0.2926
2019-01-20 17:33:27.200 -0.037000 -1.030333 -0.053333 -2.7684 -0.5854  2.2440
2019-01-20 17:33:27.400 -0.060000 -1.031000 -0.082000  2.8416 -5.1342 -0.1220
2019-01-20 17:33:27.600 -0.038667 -1.025667 -0.044667 -0.2318  0.2562  1.1220
2019-01-20 17:33:27.800 -0.044000 -1.034000 -0.059000  1.0980 -4.0240  0.9760

                        lable category participant   set
epoch (ms)
2019-01-11 15:08:05.200     B    bench       heavy  30.0
2019-01-11 15:08:05.400     B    bench       heavy  30.0
2019-01-11 15:08:05.600     B    bench       heavy  30.0
2019-01-11 15:08:05.800     B    bench       heavy  30.0
2019-01-11 15:08:06.000     B    bench       heavy  30.0
...                       ...      ...         ...   ...
2019-01-20 17:33:27.000     E      row      medium  90.0
2019-01-20 17:33:27.200     E      row      medium  90.0
2019-01-20 17:33:27.400     E      row      medium  90.0
2019-01-20 17:33:27.600     E      row      medium  90.0
2019-01-20 17:33:27.800     E      row      medium  90.0

[9009 rows x 10 columns]>

In [ ]:
data_resampled.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9009 entries, 2019-01-11 15:08:05.200000 to 2019-01-20 17:33:27.800000
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   acc_x        9009 non-null   float64
 1   acc_y        9009 non-null   float64
 2   acc_z        9009 non-null   float64
 3   gyr_x        9009 non-null   float64
 4   gyr_y        9009 non-null   float64
 5   gyr_z        9009 non-null   float64
 6   lable        9009 non-null   object
 7   category     9009 non-null   object
 8   participant  9009 non-null   object
 9   set          9009 non-null   float64
dtypes: float64(7), object(3)
memory usage: 774.2+ KB

In [ ]:
data_resampled['set']=data_resampled['set'].astype('int')

In [ ]:
data_resampled.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9009 entries, 2019-01-11 15:08:05.200000 to 2019-01-20 17:33:27.800000
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   acc_x        9009 non-null   float64
 1   acc_y        9009 non-null   float64
 2   acc_z        9009 non-null   float64
 3   gyr_x        9009 non-null   float64
 4   gyr_y        9009 non-null   float64
 5   gyr_z        9009 non-null   float64
 6   lable        9009 non-null   object
 7   category     9009 non-null   object
 8   participant  9009 non-null   object
 9   set          9009 non-null   int32
dtypes: float64(6), int32(1), object(3)
memory usage: 739.0+ KB

In [ ]:
data_resampled.to_pickle('../../data/interim/01_data_processed.pkl')